<div class="container">
  <div class="brandNav">
    <h1>GetRefant</h1>
  </div>
  <nav class="navbar p1">
    <div class="content">
      <a href="/" class="brand" [class.showBrand]="showBrand">
        <span>GetRefant</span>
      </a>
      <div class="navs" [class.positionNav]="showBrand">
        <a href="/" class="navItem">
          <span>Home</span>
          <div class="bar"></div>
        </a>
        <a href="/" class="navItem">
          <span>Tests</span>
          <div class="bar"></div>
        </a>
        <a href="/" class="navItem">
          <span>Pricing</span>
          <div class="bar"></div>
        </a>
        <a href="/" class="navItem">
          <span>Blog</span>
          <div class="bar"></div>
        </a>
        <a href="/" class="navItem">
          <span>Contact</span>
          <div class="bar"></div>
        </a>
      </div>
      <div class="navs2">
        <div class="social">
          <a href="/">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="/">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </div>
        <a class="navItem" (click)="modalService.getModal('loginModal').open()">
          <span>Login</span>
        </a>
        <div class="separator"></div>
        <a class="navItem" (click)="modalService.getModal('signupModal').open()">
          <span>Sign up</span>
        </a>
      </div>
    </div>
  </nav>

  <div class="outlet">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <div class="content">
      <h1>GetRefant</h1>
      <div class="hor"></div>
      <div class="bottm row">
        <small>Get Smarter Everyday</small>
        <div class="btns row">
          <a href="" class="nav">About</a>
          <a href="" class="nav">Contact</a>
          <a href="" class="nav">Twitter</a>
          <a href="" class="nav">Facebook</a>
          <a href="" class="nav">Store</a>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-smart-modal #loginModal identifier="loginModal" class="modal">
  <div class="content">
    <h1>LOG IN</h1>

    <p>Login to explore your dashboard</p>
    <small>Don't have an account? <a href="" class="x">Sign up</a> here.</small>
    <div class="inp">
      <label for="email">Email</label>
      <input type="text" spellcheck="false" placeholder="Your Email">
    </div>
    <div class="inp">
      <label for="email">Password</label>
      <input type="password" spellcheck="false" placeholder="Password">
    </div>
    <div class="bttm row">
      <div class="check">
        <input type="checkbox">
        <small>Remember Me</small>
      </div>
      <small>Forgot Password?</small>
    </div>
    <div class="btn row">
      <button>LOGIN</button>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #signupModal identifier="signupModal" class="modal">
  <div class="content">
    <h1>SIGN UP</h1>

    <p>Get started with GetRefant</p>
    <small>Already have an account? <a href="" class="x">Login</a> here.</small>
    <div class="inp">
      <label for="email">Email</label>
      <input type="text" spellcheck="false" placeholder="Your Email">
    </div>
    <div class="inp">
      <label for="email">Password</label>
      <input type="password" spellcheck="false" placeholder="Password">
    </div>
    <div class="inp">
      <label for="email">Confirm Password</label>
      <input type="password" spellcheck="false" placeholder="Confirm Password">
    </div>
    <div class="bttm row">
      <div class="check">
        <input type="checkbox">
        <small>I have read <a href="" class="x">terms & agreements</a></small>
      </div>
    </div>
    <div class="bttm row">
      <div class="check">
        <input type="checkbox">
        <small>Send me newsletters</small>
      </div>
    </div>
    <div class="btn row">
      <button>SIGN UP</button>
    </div>
  </div>
</ngx-smart-modal>
