.slideCTR {
  position: relative;

  .slide {
    height: 60vh;
    background-size: cover;
    background-position: center;
  }

  .ctrl {
    display: none;
    position: absolute;
    z-index: 20;
    height: 40px;
    width: 15px;
    font-size: 22px;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.2);
    align-items: center;
    top: calc(50% - 20px);
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.1s;
    &:hover {
      background-color: rgba(51, 51, 51, 0.3);
    }
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }

  &:hover {
    .ctrl {
      display: flex !important;
    }
  }

}
