<div class="top p1">
  <div class="wide">
    <h1>GetRefant</h1>
    <strong class="green">Get Refreshed, Think Relevant</strong>
    <p>
      10th Floor, Hudson Tower <br>
      A Street, Mumbai <br>
      000111
    </p>
  </div>
</div>
<div class="social p1">
  <div class="wide row">
    <a href="" class="l">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a href="" class="l">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </a>
    <a href="" class="l">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="" class="l">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="contact p1">
  <div class="wide">
    <div class="item">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <span>hello@getrefant.com</span>
    </div>
    <div class="item">
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <span>+91 9922990099</span>
    </div>
    <div class="item">
      <i class="fa fa-phone-square" aria-hidden="true"></i>
      <span>+91 9922990099</span>
    </div>
  </div>
</div>
