@import "~ngx-smart-modal/ngx-smart-modal";



* {
  outline: none;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6, .heading {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}



// colors
// royal blue
.blue {
  color: #4169e1;
}
.blue-bg {
  background-color: #4169e1;
}
//violet
.violet {
  color: #7f00ff;
}
.violet-bg {
  background-color: #7f00ff;
}
// kelly green
.green {
  color: #4cbb17
}
.green-bg {
  background-color: #4cbb17;
}


// padding
.p1 {
  padding-left: 5vw;
  padding-right: 5vw;
}



// layout
.row {
  display: flex;
  flex-direction: row;
}
.row-sm {
  display: flex;
  flex-direction: row;
}
.row-md {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex5 {
  flex: 5;
}
.flex6 {
  flex: 6;
}
.flex-grow {
  flex-grow: 1;
}
.wide {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}



//tooltip
.tooltip {
  position: relative;
  display: inline-block;
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    transition-delay: 0.5s;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -70px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}












/* Desktop */
@media (min-width: 1025px) and (max-width: 1280px) {

}


/* Tab */
@media (min-width: 768px) and (max-width: 1024px) {
  .row-sm {
    flex-direction: column;
  }
}


/* tab/cellphone */
@media (min-width: 481px) and (max-width: 767px) {
  .row-sm {
    flex-direction: column;
  }
  .row-md {
    flex-direction: column;
  }
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px) {
  .row-sm {
    flex-direction: column;
  }
  .row-md {
    flex-direction: column;
  }
}
