<div class="ctr">
  <div class="item">
    <div class="line green-bg"></div>
    <div class="content column">
      <h4>Heat & Thermodynamics assessment</h4>
      <small></small>
      <div class="column">
        <strong><i class="fa fa-clock-o" aria-hidden="true"></i> 30 mins</strong>
        <strong><i class="fa fa-file-text-o" aria-hidden="true"></i> 22 Questions</strong>
        <strong><i class="fa fa-thermometer-half" aria-hidden="true"></i> Easy</strong>
      </div>
      <div class="btn">
        <i class="fa fa-angle-double-right green" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
